EXPO_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
EXPO_PUBLIC_SUPABASE_ANON_KEY=replace-with-local-anon-key
EXPO_PUBLIC_SHOPIFY_STORE_DOMAIN=hwqi01-wd.myshopify.com
EXPO_PUBLIC_SHOPIFY_STOREFRONT_TOKEN=replace-with-public-storefront-token
